<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    </head>
</html>

<div class='stock-card-container'>
    <div class = "label">
        My WatchList
    </div>
    <div class = "stock1">
        <app-stock-card></app-stock-card>  
    </div>
    <div class = "stock2">
        <app-stock-card></app-stock-card>  
    </div>
    <div class = "stock3">
        <app-stock-card></app-stock-card>  
    </div>
    <div class = "stock4">
        <app-stock-card></app-stock-card>  
    </div>
</div>
<br>
