.main-page-container {
    overflow-y: hidden; /* will contain if #first is longer than #second */
}

.stock-scroll {
    width: 20vw;
    float:left; /* add this */
}

.post-scroll {
    overflow: hidden; /* if you don't want #second to wrap below #first */

}

.create-post-button {
    position: fixed;
    right: 46vw;
    top: 98vh;

}


