.main-page-container {
    width: 98vw;
    overflow: auto; /* will contain if #first is longer than #second */
}

.stock-scroll {
    width: 20vw;
    float:left; /* add this */
}

.post-scroll {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}


