.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 2; 
  visibility: visible;
  opacity: 1;
}

.signInButton {
  background: rgb(80, 170, 95);
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 125px;
  position: relative;
  transition: all 0.25s ease-in-out;
  top: 0px;
  right: 0px;
  left: 22px;
  
}

.signInButton:hover {
  cursor: pointer;
}

.signInButton span.text {
  text-align: center;
  font-family: 'Baloo 2', cursive;
  color: white;
  position: relative;
  top: 20%;
  padding-left: 38px;
  font-size: 16px;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(80, 170, 95);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color: white;
  text-align: left;
}
  
.popup .close {
  position: relative;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
  
.popup .close:hover {
  color: var(--primary);
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

.popup button{
  padding:5px 10px;
  background: rgb(56, 119, 66);
  border:1px var(--primary);
  position:relative;
  color: black;
  border-radius:2px;
  text-align:center;
}

.popup .button:hover {
  cursor: pointer;
}

.popup button.transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  padding: 0px;
}

.signIn {
  text-align: center;
}
