.landing-page-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 2; 
  visibility: visible;
  opacity: 1;
}

.popup {
  height: 90vh;
  background-color: white;
  position: absolute;
  width: 50vw;
  color: white;
  border-radius: 20px;
  z-index: 3;
  left: 25vw;
  top: 5vh;
}

.signInButton {
  button {
    background: rgb(80, 170, 95);
    outline: none;
    border: none;
    border-radius: 10px;
    height: 10vh;
    width: 35vw;
    position: relative;
    transition: all 0.25s ease-in-out;
    top: 70vh;
    right: 0px;
    left: 7.5vw;
    align-self: center; 
    animation: popup-enter;
    animation-duration: 0.25s;

    &:hover {
      cursor: pointer;
    }
  }

}

@keyframes popup-enter {
  from{opacity: 0;}
  to{opacity: 100;}
}

.signInButton span.text {
  text-align: center;
  font-family: 'Baloo 2', cursive;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  font-size: 2vw;
}
  
.popup .close {
  position: relative;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
  
.popup .close:hover {
  color: var(--primary);
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}


.popup .button:hover {
  cursor: pointer;
}

.popup button.transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  padding: 0px;
}

.signIn {
  text-align: center;
}
