<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
  </head>
</html>

<div class="landing-page-overlay" *ngIf="popup">
  <div class="popup">
    <div class="signInButton" type="button" (click)="popup=true">
      <button type="button" class="btn googleBtn" (click)="authenticationService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        <span class="text">
          Sign in with Google
        </span>
      </button>
    </div>
  </div>
</div>