.post-card-container {
  float: left;
  border: none;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 75vw;
  border-radius: 10px;
  clear: both;
  margin-left: 0;
  margin-bottom: 5vh;
  height: relative;
  top: 2vh;
  left: 2vw;
  bottom: 0;
  right: 0;
  position: relative;
  overflow: hidden;
}

.post-card-header {
  float: left;
  align-self: top;
  background: rgb(56, 119, 66);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 0;
  height: 7vh;
  width: 75vw;
  top: -10vh;

}

.post-card-header span.tickerCircle {
  background-color: white;
  height: 6vh;
  width: 5vw;
  border-radius: 25px;
  position: relative;
  color: white;
  text-overflow: clip;
  z-index: 49;

  &:hover {
    cursor: pointer;
  }

  span.tickerLabel {
    float: right;
    position: relative;
    left: 50%;
    z-index: 50;
    font-family: 'Baloo 2', cursive;
    font-size: 24px;
    color: white;
  
    &:hover {
      cursor: pointer;
    }
  }
}


.profile-image img {
  float: left;
  align-self: top;
  padding-top: 0.75vh;
  padding-left: 0.5vh;
  height: 6vh;
  width: 6vh;
  color: white;
}

.post-username {
  float: left;
  align-self: top;
  padding-top: 0.7vh;
  padding-left: 1vh;
  height: 7vh;
  width: relative;
  font-size: 4vh;
  font-family: 'Baloo 2', cursive;
  color: white;

  &:hover {
    cursor: pointer;
  }
}


.post-content p {
  font-family: 'Khula', sans-serif;
  color: black;
  font-size: 3vh;
  position: relative;
  left: 2vh;
}
