<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Khula&display=swap" rel="stylesheet">    </head>
</html>

<div class='post-card-container'>
    <div class='post-card-header'>
        <span class = "tickerCircle" type= "button">
            <span class = 'tickerLabel'>
                tick
            </span>
        </span>  
        <div class='profile-image'>
            <img src="https://cdn2.iconfinder.com/data/icons/facebook-51/32/FACEBOOK_LINE-01-512.png" alt="profile image">
        </div>
        <div class='post-username' type="button">
            Richard Quaff
        </div>
    </div>
    <div class="post-content">
        <img src="https://compote.slate.com/images/926e5009-c10a-48fe-b90e-fa0760f82fcd.png?width=1200&rect=680x453&offset=0x30" alt="post image">
        <p> This is a post that you would see in your feed. I love stocks so much</p>
    </div>
</div>
<br>
