.stockCard {
  font-family: 'Baloo 2', cursive;
  height: 50px;
  width: 250px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}

.stockCard span.tickerCircle {
  background-color: rgb(147, 231, 161);
  height: 50px;
  width: 80px;
  border-radius: 25px;
  position: absolute;
  left: 0;
  font-size: 32px;
  color: rgb(56, 119, 66);
}

.stockCard span.label {
  text-align: right;
  top: 22%;
  right: -15%;
  position: relative;
  color: rgb(56, 119, 66);
  font-weight: 700;
  font-size: 18px;
}

.stockCard span.tickerCircle:hover {
  cursor: pointer;
}