<div class="header-container">
    <div class="header">
        <script src="https://kit.fontawesome.com/179199b337.js" crossorigin="anonymous"></script>
        <span class="branding">
            <span style="font-family:Optima">
                <font size="+3">
                    Stock Central
                </font>
            </span>
        </span>
        <span class = "search-box">
            <div class="container">
                <input type="text" placeholder="Type to search">
                <div class="search"></div>
            </div>
        </span>
        <span>
            <span *ngIf="!(userLoggedIn$ | async)">
                <app-sign-in></app-sign-in>
            </span>
            <span *ngIf="(userLoggedIn$ | async)">
                <app-user-profile class="button"></app-user-profile>
            </span>
        </span>
    </div>
</div>
  
