<html>
    <head>
        <title> account button font </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    </head>
</html>

<div class="profile-button" type="button" title="Click to View Profile Details" (click)="popup=true">
    <span class = "greeting">
        Hello {{userFirstName}}
    </span>
</div>

<div class="overlay" *ngIf="popup">
    <div class="popup">
        <a class="close" (click)="popup=false">&times;</a>
        <div class="circle"></div>
        <img class="profilePicture" src="{{userPhotoUrl}}" alt="user profile picture" width="100" height="100">
        <br>
        <br>
        <span class="editButton" type="button">
            Edit Account
        </span>
        <div class="username">
            Username: {{userFirstName}}{{userLastName}}
        </div>
        <div>
            Username: {{username}}
        </div>
        <div>
            Joined Stock Central: {{createdAt}}
        </div>
        <div class="closeButton" type="button"(click)="authenticationService.signOut()">
            <span class = "farewell">
                Sign Out
            </span>
        </div> 
    </div>
</div>

