.user-post-cards-container {
    border-radius: 10px;
    clear: both;
    margin-left: 2vw;
    margin-top: 10px;
    height: 86vh;
    width: 75vw;
    overflow-y: auto;

}

.user-post-cards-container::-webkit-scrollbar {
    display: none;
}
