.user-post-cards-container {
    border-radius: 0px;
    margin-left: 2vw;
    margin-top: 0px;
    width: 80vw;
    overflow: auto
}

.user-post-cards-container::-webkit-scrollbar {
    display: none;
}
