.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    animation: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInSlide {
    from {opacity: 0;
          top: 30vh;}
    to {opacity: 1;
        top: 25vh;}
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
    position: relative;
    transition: all 5s ease-in-out;
    color: rgb(80, 170, 95);
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    top: 5vh;
    text-align: center;
    animation: fadeInSlide;
    animation-duration: 0.5s;

}

.popup .close {
    position: absolute;
    top: 0;
    left: 1vw;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(80, 170, 95);
}

.popup .close:hover {
    color: var(--primary);
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .popup{
        width: 70%;
    }
}

.popup closeButton{
    padding:5px 10px;
    background: rgb(56, 119, 66);
    border: none;
    height: 20px;
    width: 60px;
    position: relative;
    border-radius:2px;
    text-align:center;
    bottom: 10px;
    transition: all 0.4s ease 0s;
}

.popup closeButton:hover{
    cursor: pointer;
    opacity: .5;
    transition: all 0.4s ease 0s;
}

.popup closeButton.transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color: white;
    padding: 0px;
}

.popup closeButton.transparent span {
    margin-left: 10px;
}

.popup .closeButton:hover {
    cursor: pointer;
}